[Unit]
Description=Net Control PC - Client
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -m net_ctrl_pc.client
Restart=on-failure
RestartSec=5s
User=netctrl
Group=netctrl

PermissionsStartOnly=true
WorkingDirectory=/var/lib/net-ctrl-pc
ReadWritePaths=/var/log/net-ctrl-pc

[Install]
WantedBy=multi-user.target
